
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */
body {
	font-family: Arial,Helvetica,sans-serif;
	color: #393732;
	background-image: url("../images/body-bg_1.jpg");
}

.item-list a {
	color: #fff;
	font-weight: bold;
}
p {
	color: #393732;
	line-height: 18px;
}
.front p {
	color: #fff;
}
#logo {
	display: block;
}
#slogan {
	font-size: 16px;
	font-weight: bold;
}
#header-site-info-inner {
	float: left;
}
.header-group-inner {
	min-height: 160px;
	padding: 0 0 30px;
	position: relative;
}
/** Navigation **/
#navigation {
	bottom: 0;
	clear: both;
	position: absolute;
}
.nav-right-corner {

}
#block-system-main-menu {
	margin: 0;
	width: auto !important;
	float: right;
}
#preface-top-wrapper p {
	margin: 0;
}
.preface-top {
	background: url(../images/shadow-footer-bg.png) no-repeat center bottom transparent;
	padding-bottom: 40px;
	margin-bottom: 20px;
}
.front #preface-top-wrapper .preface-top {
	background-image: url(../images/slideshow-shadow.png);
	position: relative;
	z-index: 4;
}
.title-wrapper {
	padding-bottom: 10px;
}
#postscript-top  h2.block-title {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.front #content-region-inner {
	background: url(../images/shadow-divider-1.png) no-repeat center 80% transparent;
}
#block-system-main-menu .gutter {
	background: url("../images/nav-left-corner-bg.png") no-repeat left bottom transparent;
	padding-left: 69px;
	height: 34px;
	float: right;
	position: relative;
	z-index: 10;
}
#site-name-wrapper {
	clear: left;
	color: #484848;
}
h1,
h1 a{
	color: #484848;
}
#block-system-main-menu .content {
	background: url("../images/nav-right-corner-bg.png") no-repeat right bottom transparent;
	padding-right: 15px;
	height: 34px;
	float: right;
}


#block-system-main-menu  ul.menu {
    background: url("../images/navigation-bg.png") repeat-x center top transparent;
    float: right;
    margin-bottom: 0;
    position: relative;
    z-index: 50;
}
#block-locale-language {
	float: right;
	width: auto;
}
#block-search-form {
	clear: right;
	float: right;
	margin-top: 0;
	width: auto;
}
#search-form {
	position: relative;
}
#search-form #edit-submit {
	font-size: 75%;
	height: 33px;
	width: 103px;
	line-height: 33px;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/readmore-bg.png) repeat 0 -33px transparent;
	margin-top: 10px;
	border: none;
	color: #fff;
}
#search-form #edit-submit:hover {
	background-position: 0 0;
}
#search-form #edit-keys {
	background-color: #F5F5F5;
	border: medium none;
	border-radius: 3px;
	border: 1px solid #000;
	position: relative;
	color: #000;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 10px;
}
#search-form label {
	color: #393732;
	font-size: 14px;
	font-weight: normal;
}
/*Contact form*/
#node-4 .form-text,
#node-5 .form-text {
	width: 196px;
}
#node-4 .form-item,
#node-5 .form-item  {
	overflow: hidden;
}
#node-4 .form-item label,
#node-5 .form-item label {
	min-width: 90px;
}
#node-4 .form-item label,
#node-4 .form-item input,
#node-5 .form-item label,
#node-5 .form-item input, {
	float: left;
}
#webform-component-cong-ty ,
#webform-component-dia-chi,
#webform-component-tinh-tp,
#webform-component-quoc-gia,
#webform-component-dien-thoai,
#webform-component-email {
	margin: 5px 20px 5px 0;
	float: left;
}
#webform-component-tinh-tp,
#webform-component-dien-thoai {
	clear: left;
}
#webform-component-ho-ten {
	margin: 5px 20px 5px 0;
}
#webform-component-noi-dung {
	clear: both;
	margin-top: 5px;
}

#webform-component-noi-dung  textarea {
	font-family: Arial;
	width: 485px;
}
.row {
	height: 25px;
	padding-left: 70px;
	margin-bottom: 10px;
	line-height: 25px;
}
#postscript-bottom {
	background: url("../images/logo-footer.png") no-repeat scroll right 18px transparent;
}
#postscript-bottom p {
	color: #fff;
}
#postscript-bottom ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#slideshow {
	margin: 0;
	padding: 0;
}
.row.phone {
	background: url(../images/phone.png) no-repeat left center transparent;
}
.row.email {
	background: url(../images/email.png) no-repeat left center transparent;
}
.row.website {
	background: url(../images/www.png) no-repeat left center transparent;
}
#block-block-1 {
	position: relative;
}
#block-views-listing-block_1 {
	position: relative;
}
.slide-description {
	padding: 10px 20px;
	background-color: #ccc;
	border: 1px solid #6E6E6E;
	border-radius: 5px;
	position: relative;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 500px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
#block-views-listing-block_1 .views-field-title a {
	font-size: 16px;
	font-weight: bold;
	color: #313131;
}
#block-views-listing-block_1 .views-field-title a:hover {
	text-decoration: none;
}
#block-views-listing-block_1 .views-field-body {
	color: #313131;
}
#prev,
#next {
	position: absolute;
	z-index: 100;
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	top: 134px;
	text-indent: 100px;
	background: url(../images/next-icon.png) no-repeat left top transparent;
}
#prev {
	left: 0px;
	background: url(../images/prev-icon.png) no-repeat left top transparent;
}
#next {
	right: -4px;
}
.pro-button {
	float: right;
	font-size: 15px;
	margin-right: 20px;
}
.pro-button:hover {
	text-decoration: none;
}
#block-block-4 .content ul {
	list-style: none;
}
#block-block-4 .content li {
	height: 35px;
	line-height: 35px;
}
ol.search-results {
	margin: 0;
}
.search-thumb {
	border: 2px solid #E2E2E2;
	margin-right: 15px;
}
.search-results .title a {
	font-size: 17px;
	color: #393732;
	font-weight: normal;
	text-transform: uppercase;
}
p.search-info {
	margin: 0;
	color: #393732;
}
.search-results p {
	margin: 1em 0 0 0;
}
.search-result {
	padding: 10px 5px;
	border-bottom: 1px dashed #A8A8A8;
}
.search-result dd {
	margin: 0;
}
#product-pager {
	overflow: hidden;
	margin: 0;
	width: 287px;
}
#product-pager li {
	display: inline;
}
#product-pager li a {
	float: left;
	margin: 10px 6px 0 0;
}
.node-product.full-node .field-name-field-image {
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	padding-right: 15px;
	border-right: 1px solid #B5B5B5;
}
.node-product.full-node .field-name-field-image {
	position: relative;
}
.page-taxonomy-term .node-teaser .field-name-field-image img,
.page-product .views-field-field-image img,
.views-view-grid td img {
	border: 2px solid #E2E2E2;
}
.page-product .views-field-field-image {
	background: url(../images/product-shadow.png) no-repeat bottom center transparent;
	padding-bottom: 10px;
}
.page-news .views-field-field-image  img,
.view-taxonomy-term img {
	border: 4px solid #E2E2E2;
}

.page-news .views-row,
.view-taxonomy-term  .views-row  {
	overflow: hidden;
	margin-bottom: 20px;
}
.page-news .views-field-field-image,
.view-taxonomy-term  .views-field-field-image {
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: url(../images/news-shadow.png) no-repeat center bottom transparent;
}
.node-product.full-node .field-name-field-image .field-item {
	position: absolute;
}
.view-taxonomy-term .views-field-field-image,
.page-product .node-teaser .field-name-field-image,
.page-news .views-field-field-image {
	float: left;
	margin-right: 10px;
}

.node-product .node-readmore {
	padding: 0 5px 0 30px !important;
	height: 25px;
	line-height: 25px;
	border: 1px solid #B4742F;
	float: left;
	background: url(../images/readmore-icon.png) no-repeat 3px center #AD6B23;
	border-radius: 3px;
	position: relative;
}
.node-readmore a {
	color: #fff;
}
.page-news .views-field-view-node a:hover,
.view-taxonomy-term .views-field-view-node a:hover {
	color: #fff;
	text-decoration: none;
}
.page-news .views-field-view-node a,
.view-taxonomy-term .views-field-view-node a {
	color: #fff;
	float: left;
	font-size: 75%;
	height: 33px;
	width: 103px;
	line-height: 33px;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/readmore-bg.png) repeat 0 -33px transparent;
}
.page-news .views-field-view-node a:hover,
.view-taxonomy-term .views-field-view-node a:hover { 
	background-position: 0 0;
}
.node-readmore a {
	text-decoration: none;
	font-weight: bold;
}
#block-views-listing-block_2 .views-row,
#block-views-san_pham-block_1 .views-row {
	overflow: hidden;
	margin-bottom: 10px;
}
#block-views-listing-block_2 .views-field-field-image,
#block-views-listing-block_2 .views-field-title,
#block-views-san_pham-block_1 .views-field-field-image,
#block-views-san_pham-block_1 .views-field-title,
.node-article .field-name-field-image {
	float: left;
	margin-right: 10px;
}
#block-views-listing-block_2 .views-field-title a {
	font-size: 14px;
	color: #ccc;
}
#block-views-listing-block_2 .views-field-field-image img  {
	border: 2px solid #CECECE;
	border-radius: 2px;
	position: relative;
	padding: 1px;
	background-color: #2E2E2E;
}
.node-article .field-name-field-image img {
	float: left;
	border: 2px solid #ccc;
}
#block-views-san_pham-block_1 .views-field-field-image img {
	border: 2px solid #E2E2E2;
}
#postscript-bottom .menu li a {
	background: none;
	color: #ccc;
}
#postscript-bottom .menu li a:hover {
	color: #fff;
	background: none;
}
#block-block-8 .content {
	padding-left: 505px;
	background: url(../images/do-go-viet.png) no-repeat left top transparent;
}
#block-views-listing-block_2 {
	width: 413px !important;
}
#block-block-6.block {
	width: 260px;
}
#block-block-5 {
	width: 260px;
}

.node-article.node-teaser .content {
	position: relative;
}

.node-article .ribbon {
	background: url(../images/ribbon-icon.png) no-repeat left top transparent;
	position: absolute;
	top: 0;
	left: 0;
	height: 55px;
	width: 55px;
}
#block-views-san_pham-block_2,
#block-views-san_pham-block_1 {
	width: 100%;
}
#block-views-san_pham-block_2 a,
#block-views-san_pham-block_1 .views-field-title a,
.view-taxonomy-term .views-field-title a {
	color: #323232;
}
#block-views-san_pham-block_2 .views-field-title {
	padding-left: 20px;
	background: url(../images/list-icon.png) no-repeat 5px center transparent;
}

.locale-untranslated {
	color: #313131;
	text-decoration: none;
}
li a.active {
	color: #FFA42B;
}
.language-switcher-locale-url li a {
	color: #313131;
	margin-right: 5px;
}
#node-33 .field-type-image img,
#node-56 .field-type-image img,
#node-59 .field-type-image img {
	float: left;
	margin: 10px;
	border: 2px solid #ccc;
	width: auto;
	width: 202px;
}
.node-article .field-type-taxonomy-term-reference {
	margin-top: 10px;
}
.field-name-field-danh-muc-san-pham {
	clear: both;
	padding: 5px 0;
	margin-top: 10px;
	border-top: 1px dashed #D4AB79;
	border-bottom: 1px dashed #D4AB79;
}
.node-article .field-type-taxonomy-term-reference,
.field-name-field-danh-muc-san-pham .field-label,
.node-article .field-type-taxonomy-term-reference .field-item,
.node-article .field-type-taxonomy-term-reference .field-label,
.node-article .field-type-taxonomy-term-reference .field-items {
	float: left;
}
.node-article .field-type-taxonomy-term-reference .field-item {
	margin-right: 10px;
}
.node-article .field-type-taxonomy-term-reference.field-items {
	overflow: hidden;
}
.node-article .field-name-field-tags .field-label,
.node-article .field-name-field-category .field-label,
.field-name-field-danh-muc-san-pham .field-label {
	height: 20px;
	overflow: hidden;
	text-indent: 30px;
	width: 20px;
}
.field-name-field-tags .field-label {
	background: url(../images/tag-icon.png) no-repeat left 3px transparent;
}
.field-name-field-category .field-label,
.field-name-field-danh-muc-san-pham .field-label {
	background: url(../images/category-icon.png) no-repeat left 3px transparent;
}
.field-name-field-category a,
.field-type-taxonomy-term-reference a {
	color: #323232;
}
.not-front .postscript-top .view-content,
.not-front .content-region .view-content,
#search-form,
ol.search-results,
.not-front .node.full-node,
.page-user .content-region {
	background-color: #eee;
	border-radius: 15px;
	padding: 20px 10px;
	position: relative;
}
#search-form  a,
ol.search-results a {	
	color: #000; 
}
.page-search-node .content-region .gutter.inner {
	background: none;
	border: none;
	padding: 0;
}
#block-system-main {
	margin-bottom: 0;
}
.view-display-id-page_1 .view-content td {
	padding-bottom: 20px;
}
#block-views-listing-block_1 .views-field-body p {
	color: #fff;
}